<h1>Editing User old</h1>

<div class="form-row">
  <div class="col-md-6">
    <%= render 'form', user: @user %>
  </div>
</div>

<p class="buffer-top">
  <%= link_to 'Сменить пароль', edit_user_registration_path %>
</p>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', :back %>
