<h1>Editing User</h1>

<%= render 'form', user: @user %>

<p class="buffer-top">
  <%= link_to 'Сменить пароль', edit_user_registration_path %>
</p>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', :back %>
